body {
  background-color: #272929;
  color: #FEFEFE;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-title {
  text-align: center;
  color: #6FA3CF;
  font-size: 3rem;
  margin: 20px 0;
}

.currently-playing {
  background-color: #6FA3CF;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#jukebox {
  background: linear-gradient(45deg, #7CD2E9, #6FA3CF);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

#jukebox h2 {
  text-align: center;
  color: #D62D30;
  margin-bottom: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  background-color: #FEFEFE;
  color: #272929;
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #7CD2E9;
}

button {
  background-color: #D62D30;
  color: #FEFEFE;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #A32225;
}

button:focus {
  outline: none;
}

h1, p, button {
  margin: 0;
  padding: 0;
}

.track-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 30px 30px;
}

.track-form input {
  padding: 30px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
}

.track-form input:focus {
  outline: 2px solid #7CD2E9;
}

.track-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-group {
  display: flex;
  gap: 8px;
  padding: 30px;
}

.button-group button {
  background-color: #6FA3CF;
  color: #FEFEFE;
  padding: 10px 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-group button:hover {
  background-color: #7CD2E9;
  transform: scale(1.1);
}

.button-group button:focus {
  outline: 2px solid #D62D30;
}

.jukebox {
  text-align: center;
  background-color: #272929;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  max-width: 900px;
  margin: 20px auto;
}

.addtrkbtn {
  font-size: 1.4rem;
  padding: 20px 195px;
  width: auto; 
  background-color: #D62D30;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin: 20px auto;
  display: block;
}

.addtrkbtn:hover {
  background-color: #A32225;
  transform: scale(1.05);
}
